<div class="card p-2 bg-blue-400">
    <div class="card p-4 flex flex-wrap gap-4 justify-end">
            <p-button 
            type="Button"
            icon="pi pi-plus"
            label="Adicionar" 
            severity="info" 
            [routerLink]="['/categories/create']"
            />
        </div>
    <p-table [value]="categories" stripedRows [tableStyle]="{'min-width': '50rem'}">
        
        <ng-template #header>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>STATUS</th>
                
            </tr>
        </ng-template>
        <ng-template #body let-category>
            <tr>
                <td>{{category.id}}</td>
                <td>{{category.name}}</td>
                <td>{{category.status}}</td>
                
            </tr>
        </ng-template>
    </p-table>
</div>

