<div class="card bg-blue-50 rounded-lg shadow-lg p-4">
  <!-- Título y búsqueda -->
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-xl font-bold text-gray-900">
      Lista de Proveedores
    </h2>
    <div class="flex items-center gap-2">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" placeholder="Buscar..." class="ml-2 rounded-md" />
      </span>
      <p-button icon="pi pi-plus" label="Nuevo Proveedor" severity="success" raised
        [routerLink]="['/suppliers/create']"></p-button>
    </div>
  </div>

  <!-- Tabla con scroll solo en el body -->
  <div class="overflow-y-auto max-h-[345px] rounded-lg shadow-inner">
    <table class="w-full border-collapse">
      <!-- Encabezado fijo -->
      <thead class="sticky top-0 z-10">
        <tr class="bg-blue-100 text-gray-900">
          <th class="py-3 px-4 text-center">Nombre</th>
          <th class="py-3 px-4 text-center">NIT/RUT/RFC</th>
          <th class="py-3 px-4 text-center">Contacto</th>
          <th class="py-3 px-4 text-center">Teléfono</th>
          <th class="py-3 px-4 text-center">Correo</th>
          <th class="py-3 px-4 text-center">Dirección</th>
          <th class="py-3 px-4 text-center">Estado</th>
          <th class="py-3 px-4 text-center">Acciones</th>
        </tr>
      </thead>

      <!-- Cuerpo con scroll -->
      <tbody class="bg-lime-50 text-gray-900 text-center">
        <tr *ngFor="let supplier of suppliers" class="hover:bg-green-100">
          <td >{{ supplier.name }}</td>
          <td >{{ supplier.taxId }}</td>
          <td >{{ supplier.contactName || '-' }}</td>
          <td >{{ supplier.phone || '-' }}</td>
          <td >{{ supplier.email || '-' }}</td>
          <td >{{ supplier.address || '-' }}</td>
          <td >
            <p-tag [value]="supplier.status" [severity]="supplier.status === 'ACTIVE' ? 'success' : 'danger'" />
          </td>
          <td >
            <div class="flex justify-center gap-2">
              <button
                pButton
                type="button"
                icon="pi pi-pencil"
                class="p-button-rounded p-button-text p-button-warning"
                [routerLink]="['/suppliers/update', supplier.id]"
                pTooltip="Editar">
              </button>
              <button 
                pButton 
                type="button" 
                icon="pi pi-trash" 
                class="p-button-rounded p-button-text p-button-danger"
                (click)="deleteSupplier(supplier)" 
                pTooltip="Eliminar">
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>