<div class="card bg-blue-50 rounded-lg shadow-lg p-4">
  <!-- Título y búsqueda -->
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-xl font-bold text-gray-900">
      Lista de Sucursales
    </h2>
    <div class="flex items-center gap-2">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" placeholder="Buscar..." class="ml-2 rounded-md" />
      </span>
      <p-button icon="pi pi-plus" label="Nueva Sucursal" severity="success" raised
        [routerLink]="['/branches/create']" />
    </div>
  </div>

  <!-- Tabla con scroll solo en el body -->
  <div class="overflow-y-auto max-h-[345px] rounded-lg shadow-inner">
    <table class="w-full border-collapse">

      <!-- Encabezado fijo -->
      <thead class="sticky top-0 z-10">
        <tr class="bg-blue-100 text-gray-900">
          <th class="py-3 px-4 text-center">Nombre</th>
          <th class="py-3 px-4 text-center">Código</th>
          <th class="py-3 px-4 text-center">Dirección</th>
          <th class="py-3 px-4 text-center">Teléfono</th>
          <th class="py-3 px-2 text-center">Correo</th>
          <th class="py-3 px-4 text-center">Estado</th>
          <th class="py-3 px-4 text-center">Acciones</th>
        </tr>
      </thead>

      <!-- Cuerpo con scroll -->
      <tbody class="bg-lime-50 text-gray-900 text-center">
        <tr *ngFor="let branch of branches" class="hover:bg-green-100">
          <td class="py-3 px-4">{{ branch.name }}</td>
          <td class="py-3 px-4">{{ branch.code }}</td>
          <td class="py-3 px-4">{{ branch.address }}</td>
          <td class="py-3 ">{{ branch.phone }}</td>
          <td class="py-3 ">{{ branch.email }}</td>
          <td class="py-3 ">
            <p-tag [value]="branch.status" [severity]="branch.status === 'ACTIVE' ? 'success' : 'danger'" />
          </td>
          <td class="py-3 px-4">
            <div class="flex justify-center gap-2">
              <button
                pButton
                type="button"
                icon="pi pi-pencil"
                class="p-button-rounded p-button-text p-button-warning"
                [routerLink]="['/branches/update', branch.id]"
                pTooltip="Editar">
              </button>
              <button 
                pButton 
                type="button" 
                icon="pi pi-trash" 
                class="p-button-rounded p-button-text p-button-danger"
                (click)="deleteBranch(branch)" 
                pTooltip="Eliminar">
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>